$primary-color: #1b8391;
$white: white;
$primary-box-shadow: 0 2px 25px rgb(0 0 0 / 10%);
$primary-border-color: #ececec;
$primary-text-color: #0d324d;
$input-background-color: #f7f7f7;
$seconday-text-color: #567083;
$error-color: red;
$body-font-size: 18px;
