@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
//layout
@import '_reset';
@import '_variables';

//mixin
@import '_mixins';

html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  :disabled {
    cursor: not-allowed;
  }
}
a {
  cursor: pointer;
}

.hidden {
  display: none;
}
